 /** {*/
    /*border: 1px solid blue;*/
    /*!*padding: 5px;*!*/
/*}*/

body {
    margin: 0 auto;
    color: #4f4f4f;
}

 h3 {
     margin: 0;
 }
 
 a {
     text-decoration: none;
     color: white;
 }

 ul {
     display: flex;
     align-items: baseline;
     list-style-type: none;
     padding-left: 0;
     margin: 0;
 }

 .header {
    display: flex;
    justify-content: center;
    height: 80px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title1 h3 {
    font-size: 24px;
}

.title1 p {
    margin: 0;
}

.title1 p {
   font-size: 16px;
}

.title2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.title2 p{
    font-size: 18px;
    font-style: italic;
}

.navigation {
    justify-content: center;
    align-items: center;
    background-color: #71a00c;
}

.navigation li {
    margin: 0;
    padding: 16px 0;
    border-left: 2px solid #ffffff;
}

.navigation li:last-child {
    border-right: 2px solid #ffffff;
}

.navigation a {
    margin: 0;
    padding: 14px 30px 15px;
    font-size: 16px;
}

.navigation a:hover {
    color: #71a00c;
    background: #ffffff;
}

.navigation {
    min-height: 50px;
}

.slider {
    background-color: #c8cdd2;
    justify-content:  flex-end;
    height: 576px;
}

.content {
    justify-content: flex-end;
    align-items: center;
    background-image: url("../template/content.png");
    width: 1920px;
    height: 881px;
}
.description {
    max-width: 600px;
}
.description h2 {
    border-radius: 20px;
    border: 2px solid #000000;
    text-transform: uppercase;
    color: #000000;
    padding: 20px;
}

.description p {
    font-size: 18px;
    color: black;
}

 .footer {
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #d1d1d1;
     min-height: 60px;
 }

 .footer li {
     margin: 10px 30px 5px 30px;
     font-size: 14px;
 }

 .footer p {
     color: #4f4f4f;
     font-size: 12px;
     font-weight: bold;
     margin: 0;
 }
