#ignore all files from .idea folder
.idea/
#not ignore files "content", "logo", "slider"
*.png
*.psd
!template/content.png
!template/logo.png
!template/slider.png
#ignore all files in anyweare with file resolution .iml
*.iml
!template/content.png
!template/logo.png
!template/slider.png
